######################
#      DATABASE      #
######################
DATABASE_URL=<string, required>

######################
#     INTEGRATION    #
######################
VITE_BANDSINTOWN_APP_ID=<string, required>
