######################
#      DATABASE      #
######################
DATABASE_URL=<string, required>

######################
#     BANDSINTOWN    #
######################
VITE_BANDSINTOWN_APP_ID=<string, required>

######################
#      BIGCARTEL     #
######################
VITE_BIGCARTEL_USERNAME=<string, required>
VITE_BIGCARTEL_PASSWORD=<string, required>
VITE_BIGCARTEL_ACCOUNT_ID=<string, required>
